:root {
  --black: 21, 20, 26;
  --white: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: 251, 251, 254;
    --white: 35, 34, 43;
  }
}

* { max-width: 100%; }

html {
  font-size: 16px;
}

body {
  background-color: rgb(var(--white));
  color: rgb(var(--black));
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  -webkit-user-select: none;
  user-select: none;
}

#base-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

aside {
  width: 300px;
  padding-bottom: 20px;
  margin-left: 20px;
}

aside:empty {
  margin-left: 0;
  margin-right: 20px;
}

@media (max-width: 1220px) {
  aside:empty {
    display: none;
  }
}

@media (max-width: 900px) {
  #base-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  aside {
    width: 540px;
    margin: 0;
  }
}

aside section {
  display: flex;
  flex-direction: column;
  row-gap: 1ch;
  padding: 0 10px;
  margin-top: 20px;
}

aside section > h1 {
  margin: 0;
  margin-bottom: 10px;

  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 1.2;
}

aside button,
aside select,
aside input {
  text-align: left;
}

main {
  width: 540px;
  padding-bottom: 20px;
  margin: 0 20px;
}

form {
  padding: 0 1ch;
  margin: 0;
  margin-top: 20px;
}

fieldset {
  padding: 1ch;
  border-color: rgba(var(--black), 0.13);
  margin: 0;
  margin-bottom: 20px;
}

fieldset legend {
  color: rgba(var(--black), 0.65);
}

fieldset div {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  grid-row-gap: 1ch;
  align-items: center;
}

fieldset div label,
fieldset div span {
  grid-column: 1 / 2;
  padding: 4px 0;
  margin-right: 1ch;

  font-weight: bold;
}

fieldset div input,
fieldset div time {
  grid-column: 2 / 3;
}

fieldset div time {
  padding: 4px;
}

time:empty::before {
  content: "(unsaved)";
  opacity: 0.65;
}

:disabled {
  cursor: not-allowed;
}

input[type="text"] {
  padding: 4px;
  border: none;
  border-radius: 3px;

  background-color: rgba(var(--black), 0.13);
  color: rgb(var(--black));
}

input[type="text"]:focus {
  background-color: rgba(var(--black), 0.195);
}

input[type="text"]:disabled {
  color: rgba(var(--black), 0.13);
}

#preview {
  --black: #000000;
  --white: #ffffff;
  --white-on-dark: #ffffff;
  --navy: #001935;
  --red: #ff492f;
  --orange: #ff8a00;
  --yellow: #e8d738;
  --green: #00cf35;
  --blue: #00b8ff;
  --purple: #7c5cff;
  --pink: #ff62ce;
  --accent: #00b8ff;
  --secondary-accent: #e5e7ea;
  --follow: #f3f8fb;
}

#preview .container {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(21, 20, 26, 0.13);
  border-radius: 5px;

  background-color: var(--navy);
}

@media (prefers-color-scheme: dark) {
  #preview .container {
    border-color: rgba(251, 251, 254, 0.13);
  }
}

#preview .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2em;
  padding: 0 5px;
}

#preview hr {
  border-top: none;
  border-bottom: 1px solid var(--white-on-dark);
  margin: 0;

  opacity: 0.13;
}

#preview .logo {
  color: var(--white-on-dark);
  font-weight: bold;
}

#preview .new {
  padding: 3px 5px;
  border-radius: 3px;

  background-color: var(--accent);
  color: var(--navy);
  font-size: 12px;
  line-height: 1;
}

#preview .main {
  padding: 0 10px 10px;
}

#preview .main > div {
  margin-top: 10px;
}

#preview .post-types {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 3px;

  background-color: var(--white);
}

#preview .post-types > div {
  flex-basis: calc(100% / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#preview svg {
  height: 1.5em;
  width: auto;
}

#preview .text svg { fill: var(--black); }
#preview .photo svg { fill: var(--red); }
#preview .quote svg { fill: var(--orange); }
#preview .link svg { fill: var(--green); }
#preview .chat svg { fill: var(--blue); }
#preview .audio svg { fill: var(--purple); }
#preview .video svg { fill: var(--pink); }

#preview .post {
  padding: 5px 10px;
  border-radius: 3px;

  background-color: var(--white);
  color: var(--black);
}

#preview .post p {
  display: flex;
  margin: 0;
}

#preview .post p:not(:first-child) {
  margin-top: 5px;
}

#preview .post p time {
  font-size: 0.5rem;
  opacity: 0.65;
}

#preview .post p small {
  font-size: 0.65rem;
}

#transfer details[open] summary {
  margin-bottom: 1ch;
}

#transfer button {
  text-align: center;
}

#import button {
  box-sizing: border-box;
  width: 100%;
}

#export div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1ch;
}

#select-all { grid-column: 1 / 2; }
#select-none { grid-column: 2 / 3; }
#export-list, #save-file { grid-column: 1 / 3; }
