:root {
  --black: 21, 20, 26;
  --white: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: 251, 251, 254;
    --white: 35, 34, 43;
  }
}

* { max-width: 100%; }

html {
  font-size: 16px;
}

body {
  background-color: rgb(var(--white));
  color: rgb(var(--black));
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  -webkit-user-select: none;
  user-select: none;
}

#base-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

aside {
  width: 300px;
  padding-bottom: 20px;
  margin-left: 20px;
}

aside:empty {
  margin-left: 0;
  margin-right: 20px;
}

@media (max-width: 1220px) {
  aside:empty {
    display: none;
  }
}

@media (max-width: 900px) {
  #base-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  aside {
    margin: 0;
  }
}

aside section {
  display: flex;
  flex-direction: column;
  row-gap: 1ch;
  padding: 0 10px;
  margin-top: 20px;
}

aside section > h1 {
  margin: 0;
  margin-bottom: 10px;

  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 1.2;
}

aside button,
aside select {
  text-align: left;
}

main {
  width: 540px;
  padding-bottom: 20px;
  margin: 0 20px;
}

form {
  padding: 0 1ch;
  margin: 0;
  margin-top: 20px;
}

fieldset {
  padding: 1ch;
  border-color: rgba(var(--black), 0.13);
  margin: 0;
  margin-bottom: 20px;
}

fieldset legend {
  color: rgba(var(--black), 0.65);
}

fieldset div {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  grid-row-gap: 1ch;
  align-items: center;
}

fieldset div label,
fieldset div span {
  grid-column: 1 / 2;
  padding: 4px 0;
  margin-right: 1ch;

  font-weight: bold;
}

fieldset div input,
fieldset div time {
  grid-column: 2 / 3;
}

time {
  padding: 4px;
}

time:empty::before {
  content: "(unsaved)";
  opacity: 0.65;
}

:disabled {
  cursor: not-allowed;
}

input[type="text"] {
  padding: 4px;
  border: none;
  border-radius: 3px;

  background-color: rgba(var(--black), 0.13);
  color: rgb(var(--black));
}

input[type="text"]:focus {
  background-color: rgba(var(--black), 0.195);
}

input[type="text"]:disabled {
  color: rgba(var(--black), 0.13);
}

input[type="submit"] {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
}
