:root {
  --black: 103, 255, 56;
  --white: 34, 34, 34;
  --white-on-dark: 0, 207, 53;
  --navy: 0, 0, 0;
  --red: 103, 255, 56;
  --orange: 103, 255, 56;
  --yellow: 103, 255, 56;
  --green: 103, 255, 56;
  --blue: 103, 255, 56;
  --purple: 103, 255, 56;
  --pink: 103, 255, 56;

  --accent: 103, 255, 56;
  --secondary-accent: 20, 96, 26;
  --follow: 20, 96, 26;
}
