:root {
  --black: 100, 100, 100;
  --white: 255, 255, 255;
  --white-on-dark: 0, 0, 0;
  --navy: 255, 255, 255;
  --red: 255, 73, 47;
  --orange: 255, 138, 0;
  --yellow: 232, 215, 56;
  --green: 0, 207, 53;
  --blue: 0, 184, 255;
  --purple: 124, 92, 255;
  --pink: 255, 98, 206;

  --accent: 124, 92, 255;
  --secondary-accent: 255, 73, 47;
  --follow: 208, 208, 208;
}
