:root {
  --black: 158, 120, 229;
  --white: 12, 12, 12;
  --white-on-dark: 119, 201, 230;
  --navy: 0, 0, 0;
  --red: 225, 0, 0;
  --orange: 255, 86, 0;
  --yellow: 170, 255, 0;
  --green: 0, 218, 0;
  --blue: 22, 115, 252;
  --purple: 179, 2, 255;
  --pink: 255, 0, 144;

  --accent: 207, 67, 237;
  --secondary-accent: 45, 27, 57;
  --follow: 6, 29, 74;
}
