:root {
  --black: 117, 8, 135;
  --white: 255, 255, 255;
  --white-on-dark: 254, 237, 6;
  --navy: 255, 91, 181;
  --red: 227, 4, 4;
  --orange: 255, 139, 3;
  --yellow: 254, 237, 6;
  --green: 2, 129, 39;
  --blue: 2, 77, 255;
  --purple: 117, 8, 135;
  --pink: 255, 91, 181;

  --accent: 2, 77, 255;
  --secondary-accent: 255, 251, 205;
  --follow: 255, 251, 205;
}
