:root {
  --black: 255, 100, 0;
  --white: 34, 16, 0;
  --white-on-dark: 255, 100, 0;
  --navy: 0, 0, 0;
  --red: 255, 138, 0;
  --orange: 255, 138, 0;
  --yellow: 255, 138, 0;
  --green: 255, 138, 0;
  --blue: 255, 138, 0;
  --purple: 255, 138, 0;
  --pink: 255, 138, 0;

  --accent: 124, 92, 255;
  --secondary-accent: 64, 24, 15;
  --follow: 21, 36, 23;
}
