:root {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --white-on-dark: 255, 255, 255;
  --navy: 0, 25, 53;
  --red: 255, 73, 47;
  --orange: 255, 138, 0;
  --yellow: 232, 215, 56;
  --green: 0, 207, 53;
  --blue: 0, 184, 255;
  --purple: 124, 92, 255;
  --pink: 255, 98, 206;

  --accent: 0, 184, 255;
  --secondary-accent: 229, 231, 234;
  --follow: 243, 248, 251;
}
