:root {
  --black: 255, 255, 255;
  --white: 34, 34, 34;
  --white-on-dark: 255, 255, 255;
  --navy: 0, 0, 0;
  --red: 124, 124, 124;
  --orange: 157, 157, 157;
  --yellow: 202, 202, 202;
  --green: 127, 127, 127;
  --blue: 136, 136, 136;
  --purple: 119, 119, 119;
  --pink: 156, 156, 156;

  --accent: 255, 73, 47;
  --secondary-accent: 124, 124, 124;
  --follow: 124, 124, 124;
}
