:root {
  --black: 21, 20, 25;
  --white: 255, 255, 255;
  --accent: 10, 132, 255;
  --passive-grey: 223, 223, 229;
  --active-grey: 207, 207, 216;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: 251, 251, 254;
    --white: 66, 65, 77;
    --accent: 54, 213, 255;
    --passive-grey: 83, 83, 94;
    --active-grey: 91, 91, 102;
  }
}

html {
  display: flex;
  flex-direction: row;

  background-color: rgb(var(--white));
  font-size: 14px;
}

body {
  flex-basis: 100vw;
  margin: 0;
  padding: 0;

  color: rgb(var(--black));
  background-color: rgb(var(--white));
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  -webkit-user-select: none;
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main > div {
  display: flex;
  flex-direction: column;
  padding: 1ch;
}

main > div + div {
  border-top: 1px dotted rgb(var(--passive-grey));
}

h4 {
  margin: 0;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 0;
  border: none;
  margin: 0;
  margin-left: 1ch;

  background-color: transparent;
  color: rgb(var(--accent));
  cursor: pointer;
  font-weight: bold;
  line-height: 1.5;
}

label + * {
  margin-top: 0.5ch;
}

select,
input {
  padding: 4px;
  border: none;
  border-radius: 3px;

  background-color: rgb(var(--passive-grey));
  color: rgb(var(--black));
}

select:focus,
input:focus {
  background-color: rgb(var(--active-grey));
}

input {
  padding-left: 8px;
}

ul {
  margin: 0;
  padding-left: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

:link,
:visited {
  color: rgb(var(--accent));
}
