body {
  font-size: 100%;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1ch;
}

li + li {
  border-top: 1px dotted #444;
}

label {
  white-space: nowrap;
}

label + * {
  margin-left: 1ch;
}
