:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #444444;
  --blue: #00b8ff;
  --purple: #7c5cff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #ffffff;
    --white: #343434;
    --grey: #bbbbbb;
  }
}

html {
  display: flex;
  background-color: var(--white);
}

body {
  color: var(--black);
  background-color: var(--white);
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main > div {
  display: flex;
  flex-direction: column;
  padding: 1ch;
}

main > div + div {
  border-top: 1px dotted var(--grey);
}

h4 {
  margin: 0;
}

label {
  white-space: nowrap;
}

label + * {
  margin-top: 0.5ch;
}

ul {
  margin: 0;
  padding-left: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

:link {
  color: var(--blue);
}

:visited {
  color: var(--purple);
}
