name: Build

on: workflow_dispatch

jobs:
  webextension:
    name: WebExtension
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js Environment
        uses: actions/setup-node@v4.2.0
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Lint WebExtension
        run: npm run lint-webextension

      - name: Build WebExtension
        run: npm run build-webextension

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: web-ext-artifacts
          path: web-ext-artifacts
