name: Release Notes

on: workflow_dispatch

permissions:
  contents: read

jobs:
  create:
    name: Create
    runs-on: ubuntu-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Print release notes
        run: |
          echo "\`\`\`md" >> $GITHUB_STEP_SUMMARY
          git log $(git describe --tags --abbrev=0)..HEAD --reverse --pretty --format="- %h **%an** %s" --follow src/ >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
